[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
praatio = "*"
pyside2 = "*"
pyserial = "*"
praat-textgrids = "*"
tqdm = "*"
vtthex = {path = "."}

[requires]
python_version = "3.8"
